<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ChatBox</title>
  <link rel="stylesheet" href="./static/style.css">

</head>
<style>
	.vertical-center {
  margin: 0;
  top: 10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>
<body>
<!-- partial:index.partial.html -->

<div class="form-structor">
	  <div class="vertical-center">
		  <center><h1 style="color:white;">ChatBox</h1></center>
	  </div>



	<div class="signup">

		<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
		<form method="post" action="http://localhost:5000/app/user/register/" >
		<div class="form-holder">
			<input type="text" class="input" placeholder="Name" name="Name" />
			<input type="number" class="input" placeholder="Age" name="Age"/>
			<input type="email" class="input" placeholder="Email" name="Email"/>
			<input type="password" class="input" placeholder="Password" name="Password"/>
		</div>
		<button class="submit-btn">Sign up</button>
			</form>
	</div>
	<div class="login slide-up">

		<div class="center">
			<h2 class="form-title" id="login"><span>or</span>Log in</h2>
			<form method="post" action="http://localhost:5000/app/user/login/" >
			<div class="form-holder">
				<input type="email" class="input" placeholder="Email" name="Email" />
				<input type="password" class="input" placeholder="Password" name="Password"/>
			</div>
			<button class="submit-btn">Log in</button>
			</form>
		</div>

	</div>

</div>
<!-- partial -->
  <script  src="./static/script.js"></script>

</body>
</html>